<h1> Started collecting data on: <%= Time.at(Nagios.last.timestamp)%>  </h1>

    <table width="800" border="1">
        <th>Name</th>
        <th>Service</th>
        <th>Status and Output</th>

      <%@nagios.servicestatus.each{|entry| %>
      <tr>
        <td><%= entry['host_name']%></td>
        <td><%= entry['service_description']%></td>
        <td <%= entry['current state'].nil? ? "class='passed'" : "class='failed'" %>><%= entry['plugin_output']%></td>
      </tr>  <%}%>
    </table>   
