    <script>
    $(function() {
        $( "#accordion" ).accordion({
      collapsible: true,	
      heightStyle: "fill"
    });
    });
    </script>
    
    <div id='accordion'>

    <h3>
      A list of the active jobs that was run one day ago, the results were:<br/>
    </h3>    
    <div>
    <table width="800" border="1">
        <th>Name</th>
        <th>State</th>
        <th>Last Runtime</th>
        <th>Next Runtime</th>

      <%@oneday.each{|entry| %>
      <tr>
        <td><%= entry.Name%></td>

        <%if entry.LastTaskResult.to_i != 0%>
            <td class='failed'>FAILED</td>
        <%else%>
            <td class='passed'>PASSED</td>
        <%end%>
        <td><%= entry.LastRunTime%></td>
        <td><%= entry.NextRunTime%></td>
      </tr>  <%}%>
    </table>​    
    </div>
    
    <h3>
      A list of the active jobs that was run two days ago, the results were:<br/>
    </h3>
    <div id='2day'>
    <table width="800" border="1">
        <th>Name</th>
        <th>State</th>
        <th>Last Runtime</th>
        <th>Next Runtime</th>

      <%@oneday.each{|entry| %>
      <tr>
        <td><%= entry.Name%></td>

        <%if entry.LastTaskResult.to_i != 0%>
            <td class='failed'>FAILED</td>
        <%else%>
            <td class='passed'>PASSED</td>
        <%end%>
        <td><%= entry.LastRunTime%></td>
        <td><%= entry.NextRunTime%></td>
      </tr>  <%}%>
    </table>​
    </div>
    </div>
