<h1>Listing servers</h1>

<table>
  <tr>
    <th>Server</th>
    <th>FQDN</th>
    <th></th>
  </tr>

<% Instance.all.each do |server| %>
  <tr>
    <td><%= link_to server.name, "/instances/#{server.name}/edit"%></td>
    <td><%= server.canonical %></td>
    <td><%= server.location %></td>
    <td><%= link_to 'Edit', "/instances/#{server.name}/edit" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_instance_path %>
