<h1>Instances#show</h1>
<p>Find me in app/views/instances/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <b>NAME:</b>
  <%= @instance.name %>
</p>

<p>
  <b>FQDN:</b>
  <%= @instance.canonical %>
</p>

<p>
  <b>LOCATION:</b>
  <%= @instance.location %>
</p>

<p>
  <b>Group Owners:</b>
  <%= @instance.groups %>
</p>

<%= link_to 'Edit', "/instances/#{@instance.name}/edit" %> |
<%= link_to 'Back', "/instances" %>
