<h1>Instances#show</h1>
<p>Find me in app/views/instances/show.html.erb</p>
<p id="notice"><%= notice %></p>

<p>
  <b>NAME:</b>
  <%= @instance.name %>
</p>

<p>
  <b>FQDN:</b>
  <%= @instance.canonical %>
</p>

<p>
  <b>LOCATION:</b>
  <%= @instance.location %>
</p>

<p>
  <b>PROVIDER:</b>
  <%= @instance.provider %>
</p>

<p>
  <b>OWNERS:</b>
  <%= @instance.owners %>
</p>

<p>
  <b>INVOLVED GROUPS:</b>
 <%@instance.groups.each do |bsid| %>
        <%= Group.where(:_id => bsid).count > 0 ? Group.where(:_id => bsid).first.groupname : ""%>
<% end%>
</p>

<p>
  <b>TAGS:</b>
 <%@instance.tags%>
</p>

<p>
  <b>OPERATING SYSTEM:</b>
  <%= @instance.os_type %>
</p>

<p>
  <b>DESCRIPTION:</b>
  <%= @instance.description %>
</p>

<%= link_to 'Edit', "/instances/#{@instance.name}/edit" %> |
<%= link_to 'Back', "/instances" %>