<%= javascript_include_tag "jquery.multiselect.js"%>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </div>
  <div class="field">
    <%= f.label :useremail %><br />
    <%= f.text_field :useremail %>
  </div>
  <div class="field">
    <%= f.label :userpass %><br />
    <%= f.password_field :userpass %>
  </div>
    <table id='multi-select-2' class="manual-size">
          <tr>
            <td>
              <%= f.collection_select :usergroups, Group.where(:_id.in => @user.usergroups).all, :_id, :groupname, {}, {:multiple => true, :class => 'select'}%>
            </td>
            <td>
              <%= f.collection_select :notingroups, Group.where(:_id.nin => @user.usergroups).all, :_id, :groupname, {}, {:multiple => true, :class => 'select'}%>
            </td>
          </tr>
          <tr>
            <td>
              <input type="button" value="Remove &raquo;"/>
            </td>
            <td>
              <input type="button" value="&laquo; Add"/>
            </td>
          </tr>
        </table>
    
  <script type="text/javascript">
      $(function() {
        $('#multi-select-2').multiselect();
        /* show results on submit */
       });
    </script>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
