<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @user.userid %>
</p>

<p>
  <b>Useremail:</b>
  <%= @user.useremail %>
</p>

<p>
  <b>Userpass:</b>
  <%= @user.userpass %>
</p>

<p>
  <b>Usergroups:</b>
  <%= @user.usergroups %>
</p>

<%= link_to 'Edit', "/users/#{@user.userid}/edit" %> |
<%= link_to 'Back', "/users" %>
