<canvas id="<%= host + '_gauge'%>"></canvas>
<div id="console"></div>
<script>
var <%= host + '_gauge'%> = new Gauge({
	renderTo    : "<%= host + '_gauge'%>",
	width       : 100,
	height      : 100,
	glow        : true,
	units       : '%',
	title       : false,
	minValue    : 0,
	maxValue    : 100,
	majorTicks  : ['0','10','20','30','40','50','60','70','80','90','100'],
	minorTicks  : 2,
	strokeTicks : false,
	highlights  : [
		{ from : 0,   to : 20, color : 'green' },
		{ from : 20, to : 40, color : 'greenyellow' },
		{ from : 40, to : 60, color : 'yellow' },
		{ from : 60, to : 80, color : 'red' },
		{ from : 80, to : 100, color : 'darkred' }
	],
	colors      : {
		plate      : '#222',
		majorTicks : '#f5f5f5',
		minorTicks : '#ddd',
		title      : '#fff',
		units      : '#ccc',
		numbers    : '#eee',
		needle     : { start : 'rgba(240, 128, 128, 1)', end : 'rgba(255, 160, 122, .9)' }
	}
});

<%= host + "_gauge"%>.onready = function() {
	setInterval( function() {
		var rates = $.ajax({
          url: "http://mcp.hcpprod.com:888/api/lastcheck?service=HTTP&host=<%= host%>&range=7",
		  async: false
		  }).responseText;
        <%= host + "_gauge"%>.setValue(rates);
	}, 100000);
};

<%= host + "_gauge"%>.draw();
window.onresize= function() {
<%= host + "_gauge"%>.updateConfig({
	width  : 100,
	height : 100
});
};
</script>