<script>
$(function() {
    $("#serverlist").accordion({
  collapsible: true,
  heightStyle: "fill"
});
});
</script>
<h1 class="time">Index of All Systems As Of: <%=Time.now%></h1>

<div id="serverlist">
<% Instance.all.each do |system|%>
<h5 class="servername"><div class="serverlabel"><div class="label"><p class="center"><%= system.name%></p></div><div class="label"><p class="center"><%= system.canonical%></p></div></div><br/></h5>
<div class="server">
<%image_tag("ec2.jpg", :mouseover => image_path("hc1.jpg")) %>
<table class="grid" width="700" border="1">
    <th>Name</th>
    <th>FQDN</th>
    <th>Location</th>
          <tr>
            <td width="100"><%= system.name%></td>
            <td width="200"><%= system.canonical%></td>
            <td width="200"><%= system.location%></td>
            <td width="200"><%= system.groups%></td>
          </tr>

</table>
</div>
<%end%>
</div>
